{{#if loggedIn}}
  {{!-- <p>Welcome {{username}}</p> --}}

  <h2>All recipes</h2>

  <div class="all-recipes-container">
    {{#each recipesWithUsers}}
      <div class="each-recipe-container">
        <h3> <a href="/recipes/{{_id}}">{{recipeTitle}}</a> </h3>
        <p>Cooking time: {{recipeTime}} min</p>
        <p>{{recipeDescription}}</p>
        <p>created by: {{createdByUser.username}}</p>
        <a href="/recipe/create"></a>
      </div>
    {{/each}}
  </div>

{{else}}
  <div class="login-wrapper">
    <img src="/images/logo.png" alt="" />
    <h2>Log in to your account</h2>

    <form action="/user/login" method="post" class="login-form">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Log in" />
    </form>
    <a href="/user/register">Register account</a>
  </div>

{{/if}}