{{#if loggedIn}}
  {{!-- <p>Welcome {{username}}</p> --}}

  <h2>All recipes</h2>

  <div class="all-recipes-container">
    {{#each allRecipes}}
      <div class="each-recipe-container">
        <h3>{{recipeTitle}}</h3>
        <p>{{recipeTime}}</p>
        <p>{{recipeDescription}}</p>
        <a href="/recipe/create"></a>
      </div>
    {{/each}}
  </div>

{{else}}

  <h2>Log in to your account</h2>

  <form action="/user/login" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log in" />
  </form>
  <a href="/user/register">Register account</a>

{{/if}}