{{#if loggedIn}}

  <h2>All recipes</h2>

  <div class="my-recipes-container">
    {{#each recipesWithUsers}}
      <div class="each-recipes-container">
        <div class="img-container">
          <img class="my-img" src="{{imageUrl}}" alt="{{name}}" />
        </div><br />
        <h3 class="recipe-title">
          <a href="/recipes/{{_id}}">{{recipeTitle}}</a>
        </h3>
        <p class="cooking-time">Cooking time: {{recipeTime}} min</p>
        <p class="created-by">created by: {{createdByUser.username}}</p>
        <a href="/recipe/create"></a>
      </div>
    {{/each}}
  </div>

{{else}}
  <div class="login-wrapper">
    <img src="/images/logo.png" alt="" />
    <h2>Log in to your account</h2>

    <form action="/user/login" method="post" class="login-form">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Log in" />
    </form>
    <a href="/user/register">Register account</a>
  </div>

{{/if}}