<h2>My reviews</h2>
<div class="my-reviews-container">
  {{#each myReviews}}
    <div class="each-reviews-container">
      <h4><a
          href="/recipes/{{reviewedRecipe._id}}"
        >{{reviewedRecipe.recipeTitle}}</a></h4>
      <p>{{reviewDescription}}</p>
      <p>{{reviewDate}}</p>
      {{{showStars reviewStars}}}
      <br />
       <div class="crud">
      <a href="/reviews/{{_id}}/edit">Edit</a>
      <a href="/reviews/{{_id}}/delete">Delete</a>
    </div>
    </div>
  {{/each}}
</div>