<h2>All recipes</h2>

<div class="all-recipes-container">
  {{#each allRecipes}}
    <div class="each-recipe-container">
      <h3>{{recipeTitle}}</h3>
      <p>{{recipeDescription}}</p>
      <p>{{recipeTime}}</p>
      <p>Created by:
        <a href="/user/{{createdBy._id}}">{{createdBy.username}}</a></p>
      <a href="/recipe/create"></a>
    </div>
  {{/each}}
</div>