<h2>Edit recipe</h2>

<form action="/recipes/{{_id}}/edit" method="post" class="editrecipe-form">
  <input type="text" name="recipeTitle" value="{{recipeTitle}}" required />
  <input type="number" name="recipeTime" value="{{recipeTime}}" required /><br
  /><br />
  <textarea
    name="recipeDescription"
    cols="50"
    rows="20"
    required
  >{{recipeDescription}}</textarea><br />
  <p class="error">{{error}}</p>
  <input type="submit" value="Save" />
</form>