<div class="single-wrapper">
  <div class="single-recipe-container">
    <h2 class="single">{{singleRecipe.recipeTitle}} </h2>
    <p>Cookingtime: {{singleRecipe.recipeTime}} minutes</p>
    <p>{{singleRecipe.recipeDescription}}</p>
  </div>
  <h3>Review this recipe:</h3>

  <div class="my-reviews-container">
    <form
      action="/recipes/{{singleRecipe._id}}/reviews"
      method="post"
      class="review-wrapper"
    >
      <textarea
        name="reviewDescription"
        cols="50"
        rows="20" placeholder="Review"
      ></textarea><br />
      <div class="wrapper">
        <input type="radio" id="st1" value="5" name="reviewStars" />
        <label for="st1"></label>
        <input type="radio" id="st2" value="4" name="reviewStars" />
        <label for="st2"></label>
        <input type="radio" id="st3" value="3" name="reviewStars" />
        <label for="st3"></label>
        <input type="radio" id="st4" value="2" name="reviewStars" />
        <label for="st4"></label>
        <input type="radio" id="st5" value="1" name="reviewStars" />
        <label for="st5"></label>
      </div>
         <p class="error">{{error}}</p>

      <input type="submit" value="Save" />
    </form>
  </div>

  <h3>Reviews</h3>
  <div class="flex-wrapper">
    {{#each singleRecipe.reviews}}
      <div class="all-reviews-wrapper">
        <p>{{reviewDescription}}</p>
        {{{showStars reviewStars}}}
      </div>
    {{/each}}
  </div>

</div>